* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pg-2 {
  padding: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mr-2 {
  margin-right: 20px;
}

.pg-2-0 {
  padding: 20px 0;
}

.flex {
  display: flex;
}

.fl-wrap {
  display: flex;
  flex-wrap: wrap;
}

.a-middle {
  align-items: center;
}

.cv {
  content-visibility: auto;
}

button {
  padding: 5px;
  cursor: pointer;
  border: 1px solid $grey-300;

  &.is-active {
    border-color: $blue-500;
    background-color: $blue-500;
    color: $white;
  }
}


